<!DOCTYPE html>
<html>

<head>
    <base href="/">
    <title>Customer Tracker</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>

<body>
    <my-app><div class="loader"></div>Loading...</my-app>

    <script src="/js/app/bundle.js"></script>
</body>

</html>
