<p-growl [value]="msgs" sticky="sticky"></p-growl>

<form [formGroup]="passwordform" (ngSubmit)="onSubmit(passwordform.value)">
    <p-panel header="Change Pasword">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="oldPassword">Old Password</label></div>
                <div class="ui-grid-col-6"><input type="password" pPassword id="oldPassword" formControlName="oldPassword" [(ngModel)]="oldPassword" placeholder="Required - Min 6" /></div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['oldPassword'].valid&&passwordform.controls['oldPassword'].dirty">
                        <i class="fa fa-times-circle"></i>
                        <span *ngIf="passwordform.controls['oldPassword'].errors['required']">Password is required</span>
                        <span *ngIf="passwordform.controls['oldPassword'].errors['minlength']">Must be longer than 6 characters</span>
                    </div>
                </div>
            </div>

            <div class="ui-grid-row">
                <div class="ui-grid-col-2"><label for="newPassword">New Password</label></div>
                <div class="ui-grid-col-6"><input type="password" pPassword id="newPassword" formControlName="newPassword" [(ngModel)]="newPassword" placeholder="Required - Min 6" /></div>
                <div class="ui-grid-col-4">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['newPassword'].valid&&passwordform.controls['newPassword'].dirty">
                        <i class="fa fa-times-circle"></i>
                        <span *ngIf="passwordform.controls['newPassword'].errors['required']">Password is required</span>
                        <span *ngIf="passwordform.controls['newPassword'].errors['minlength']">Must be longer than 6 characters</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-col-2">
                <button type="button" pButton type="submit" icon="fa-save" label="Update Password" [disabled]="!passwordform.valid"></button>
            </div>
        </div>
    </p-panel>
</form>
