
<div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="user">
    <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="h1">First Name</label></div>
        <div class="ui-grid-col-8"><input pInputText id="firstName" [(ngModel)]="user.firstName" placeholder="Required"/></div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="lastName">Last Name</label></div>
        <div class="ui-grid-col-8"><input pInputText id="lastName" [(ngModel)]="user.lastName" placeholder="Required"/></div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="email">Email</label></div>
        <div class="ui-grid-col-8"><input pInputText id="email" [(ngModel)]="user.email" placeholder="Required"/></div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="password">Password</label></div>
        <div class="ui-grid-col-8"><input type="password" pPassword id="password" [(ngModel)]="user.password" placeholder="Required"/></div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="admin">Is Admin</label></div>
        <div class="ui-grid-col-8"><p-toggleButton id="admin" [(ngModel)]="user.admin" [style]="{'width':'150px'}"></p-toggleButton></div>
    </div>
</div>
<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete" *ngIf="!newUser"></button>
    <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
</div>
