<div class="ui-g ui-grid-row larger-text">
    <div class="ui-g-12 ui-md-2">
        <h3>Useful Links</h3>
        <ul>
            <li>
                <a href="https://iconnect.sprint.com/docs/DOC-15580" target="_blank">ESSS Homepage</a>
            </li>
            <li>
                <a href="https://iconnect.sprint.com/docs/DOC-14147" target="_blank">Cloud Toll Free Services Landing Page</a>
            </li>
        </ul>
    </div>
    <div class="ui-g-12 ui-md-10 ui-lg-7">

        <article>
            <h2>General Information</h2>
            <br> This tool is designed to show all Cloud Toll Free customers (H1 accounts) which are, or have been built
            in Platform28. This is the official repository to determine which ESSS IPM owns a specific Cloud Toll Free customer.
            Account assignments are managed by
            <a href="mailto:Karen.Schlosser@sprint.com?Subject=Cloud%20TF%20Customer%20Assignment%20Question" target="_top">Karen Schlosser</a>.
            For a customer to be added to this site, they must:
            <ul>
                <li>
                    Have a signed contract for Cloud Toll Free services
                </li>
                <li>
                    Contacted Field IPM, who has already engaged EPI about Cloud Toll Free
                </li>
            </ul>
            ESSS can only be engaged for Cloud Toll Free implementations by EPI. Once engaged, Karen Schlosser assigns an IPM to the
            account.
            <br> Please see
            <a href="mailto:zachary.grauerholz@sprint.com?Subject=Cloud%20TF%20Customer%20Tracker%20Question" target="_top">Zach Grauerholz</a>            if you run into issues with the site.
        </article>
    </div>
</div>
<div class="ui-g ui-grid-row larger-text">
    <div class="ui-g-12 ui-md-2">

    </div>
    <div class="ui-g-12 ui-md-10 ui-lg-7">
        <article>
            <h2>Build Status Definitions</h2>
            <br> Below is a description for each availible <b>Build Status</b> for Cloud Toll Free migrations. As accounts
            are added to the portal, the default status is "ESSS IPM Assigned". The ESSS IPM should update the status throughout
            the implementation process.
            <br>
            <ol>
                <li>
                    <b>ESSS IPM Assigned</b>
                    <ul>
                        <li>EPI contacted ESSS and customer has a signed contract</li>
                        <li>Meetings to complete CSOW not started</li>
                    </ul>
                </li>
                <li>
                    <b>CSOW in Progress</b>
                    <ul>
                        <li>Meeting with customer to complete CSOW & design</li>
                    </ul>
                </li>
                <li>
                    <b>Design Complete</b>
                    <ul>
                        <li>CSOW complete and signed off on</li>
                        <li>In process of building in P28</li>
                    </ul>
                </li>
                <li>
                    <b>Implementation Complete</b>
                    <ul>
                        <li>All routing in P28 built</li>
                        <li>Some TFNs might be taking traffic, but not all of them</li>
                    </ul>
                </li>
                <li>
                    <b>Migration Complete</b>
                    <ul>
                        <li>All TFNs in P28 taking traffic</li>
                    </ul>
                </li>
            </ol>
        </article>
    </div>
</div>