<p-dataTable #dt [value]="customers" selectionMode="single" [(selection)]="selectedCustomer" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15" [responsive]="true" [immutable]="false">
    <p-header>Customer CRUD</p-header>
    <p-column field="h1" header="H1" [sortable]="true"></p-column>
    <p-column field="name" header="Cust Name" [sortable]="true"></p-column>
    <p-column field="status" header="Build Status" [sortable]="true"></p-column>
    <p-column field="note" header="Note" [sortable]="false"></p-column>
    <p-column field="user" header="ESSS IPM" [sortable]="true"></p-column>
    <p-column field="initialDt" header="Initial Contact" [sortable]="true"></p-column>
    <p-column field="updateDt" header="Last Update" [sortable]="true"></p-column>
    <p-column field="updateUser" header="Last Update By" [sortable]="true"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()" label="Add" *ngIf="isAdmin()"></button>
            <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"></button>
        </div>
    </p-footer>
</p-dataTable>

<p-dialog header="Customer Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="600">
    <p-growl [value]="msgs" sticky="sticky"></p-growl>
    <form [formGroup]="customerform" (ngSubmit)="save(customerform.value)">
        <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad" *ngIf="customer">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3"><label for="h1">H1</label></div>
                <div class="ui-grid-col-6"><input pInputText id="h1" formControlName="h1" [(ngModel)]="customer.h1" placeholder="999999999"/></div>
                <div class="ui-grid-col-3">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!customerform.controls['h1'].valid&&customerform.controls['h1'].dirty">
                        <i class="fa fa-times-circle"></i>
                        <span *ngIf="customerform.controls['h1'].errors['required']">H1 is required</span>
                        <span *ngIf="customerform.controls['h1'].errors['minlength']||customerform.controls['h1'].errors['maxlength']">Must be 9 digits</span>
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3"><label for="name">Name</label></div>
                <div class="ui-grid-col-6"><input pInputText id="name"  formControlName="name" [(ngModel)]="customer.name" placeholder="Required"/></div>
                <div class="ui-grid-col-3">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!customerform.controls['name'].valid&&customerform.controls['name'].dirty">
                        <i class="fa fa-times-circle"></i> Name is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3"><label for="status">Status</label></div>
                <div class="ui-grid-col-6"><input pInputText id="status" formControlName="status" [(ngModel)]="customer.status" /></div>
                <div class="ui-grid-col-3">
                    <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!customerform.controls['status'].valid&&customerform.controls['status'].dirty">
                        <i class="fa fa-times-circle"></i> Status is required
                    </div>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3"><label for="note">Note</label></div>
                <div class="ui-grid-col-8"><textarea id="note" pInputTextarea formControlName="note" [(ngModel)]="customer.note"></textarea></div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3"><label for="user">ESSS IPM</label></div>
                <p-dropdown [options]="userSelection" id="ipm" formControlName="ipm" [(ngModel)]="customer._userId" placeholder="Select an IPM" [style]="{'width':'175px'}" [disabled]="!isAdmin()"></p-dropdown>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3"><label for="initialDt">Initial Contact Date</label></div>
                <div class="ui-grid-col-8">
                    <p-calendar id="initialDt" formControlName="initialDt" [(ngModel)]="customer.initialDt" [inline]="true" [disabled]="!newCustomer"></p-calendar>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3"><label for="updateDt">Last Update Date</label></div>
                <div class="ui-grid-col-6">
                    <p-calendar id="updateDt" formControlName="updateDt" [(ngModel)]="customer.updateDt" [disabled]="true"></p-calendar>
                </div>
            </div>
            <div class="ui-grid-row">
                <div class="ui-grid-col-3"><label for="updateUser">Last Update By</label></div>
                <div class="ui-grid-col-6">
                    <p-dropdown [options]="userSelection" formControlName="updateUser" [(ngModel)]="customer._updateUserId" [style]="{'width':'175px'}" [disabled]="true"></p-dropdown>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-trash-o" (click)="delete()" label="Delete" *ngIf="!newCustomer"></button>
                <button type="button" pButton icon="fa-save" (click)="save()" label="Save" [disabled]="!customerform.valid"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>
